.container {
  width: min(60% - 2rem, 60rem);
  margin-inline: auto;
  margin-top: 4rem;
}

.title {
  font-size: 3rem;
  font-family: sans-serif;
}

.image_container {
  width: 50%;
  position: relative;
}

.background {
  width: 100%;
}

.neck,
.nose,
.mouth,
.eyes,
.ears,
.hair,
.leg {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
}
